SHOPIFY_STORE_DOMAIN=back-nine-supply-co-3.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-01
CRON_SECRET=
PUBLISH_STARTER_PRODUCTS=false
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=back-nine-supply-co-3.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=
NEXT_PUBLIC_SHOPIFY_API_VERSION=2026-01
